@page "/"

<div class="bg-gray-100 p-8">
    <div>
        <h2 class="text-2xl">Today</h2>
        <div class="whitespace-nowrap overflow-x-auto">
            <UserTicket
                Name="Create Something Something"
                Description="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce et sapien pulvinar ante pellentesque lacinia. Etiam tinciduLorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce et sapien pulvinar ante pellentesque lacinia. Etiam tincidunt sed...."
                Priority="1"
                Assignee="Isala Piyarisi"
                Status="todo"
                DueDate=@DateTime.Parse("03/11/2021")
                EstimatedTime=@TimeSpan.Parse("02:00:00") />
            <UserTicket
                Name="Create Something Something"
                Description="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce et sapien pulvinar ante pellentesque lacinia. Etiam tinciduLorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce et sapien pulvinar ante pellentesque lacinia. Etiam tincidunt sed...."
                Priority="2"
                Assignee="Isala Piyarisi"
                Status="inprogress"
                DueDate=@DateTime.Parse("03/11/2021")
                EstimatedTime=@TimeSpan.Parse("02:00:00") />
            <UserTicket
                Name="Create Something Something"
                Description="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce et sapien pulvinar ante pellentesque lacinia. Etiam tinciduLorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce et sapien pulvinar ante pellentesque lacinia. Etiam tincidunt sed...."
                Priority="3"
                Assignee="Isala Piyarisi"
                Status="done"
                DueDate=@DateTime.Parse("03/11/2021")
                EstimatedTime=@TimeSpan.Parse("02:00:00") />
            <UserTicket
                Name="Create Something Something"
                Description="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce et sapien pulvinar ante pellentesque lacinia. Etiam tinciduLorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce et sapien pulvinar ante pellentesque lacinia. Etiam tincidunt sed...."
                Priority="2"
                Assignee="Isala Piyarisi"
                Status="done"
                DueDate=@DateTime.Parse("03/11/2021")
                EstimatedTime=@TimeSpan.Parse("02:00:00") />
        </div>
    </div>
    <div>
        <h2 class="text-2xl">Overdue</h2>
        <div class="whitespace-nowrap overflow-x-auto">
            <UserTicket
                Name="Create Something Something"
                Description="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce et sapien pulvinar ante pellentesque lacinia. Etiam tinciduLorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce et sapien pulvinar ante pellentesque lacinia. Etiam tincidunt sed...."
                Priority="3"
                Assignee="Isala Piyarisi"
                Status="todo"
                DueDate=@DateTime.Parse("03/11/2021")
                EstimatedTime=@TimeSpan.Parse("02:00:00") />
            <UserTicket
                Name="Create Something Something"
                Description="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce et sapien pulvinar ante pellentesque lacinia. Etiam tinciduLorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce et sapien pulvinar ante pellentesque lacinia. Etiam tincidunt sed...."
                Priority="1"
                Assignee="Isala Piyarisi"
                Status="inprogress"
                DueDate=@DateTime.Parse("03/11/2021")
                EstimatedTime=@TimeSpan.Parse("02:00:00") />
        </div>
    </div>
    <div>
        <h2 class="text-2xl">Next</h2>
        <div class="whitespace-nowrap overflow-x-auto">
            <UserTicket
                Name="Create Something Something"
                Description="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce et sapien pulvinar ante pellentesque lacinia. Etiam tinciduLorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce et sapien pulvinar ante pellentesque lacinia. Etiam tincidunt sed...."
                Priority="2"
                Assignee="Isala Piyarisi"
                Status="todo"
                DueDate=@DateTime.Parse("03/11/2021")
                EstimatedTime=@TimeSpan.Parse("02:00:00") />
            <UserTicket
                Name="Create Something Something"
                Description="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce et sapien pulvinar ante pellentesque lacinia. Etiam tinciduLorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce et sapien pulvinar ante pellentesque lacinia. Etiam tincidunt sed...."
                Priority="1"
                Assignee="Isala Piyarisi"
                Status="inprogress"
                DueDate=@DateTime.Parse("03/11/2021")
                EstimatedTime=@TimeSpan.Parse("02:00:00") />
            <UserTicket
                Name="Create Something Something"
                Description="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce et sapien pulvinar ante pellentesque lacinia. Etiam tinciduLorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce et sapien pulvinar ante pellentesque lacinia. Etiam tincidunt sed...."
                Priority="3"
                Assignee="Isala Piyarisi"
                Status="done"
                DueDate=@DateTime.Parse("03/11/2021")
                EstimatedTime=@TimeSpan.Parse("02:00:00") />
        </div>
    </div>
</div>