@inject NavigationManager _navigationManager
@inject WorkFlow.Client.Services.INavService NavService

<div class="my-5">
    <ol class="list-reset flex text-grey-dark">
        @foreach (var url in _urLs)
        {
            <li>
                <a href="@url.Url" class="font-bold">@url.Name</a>
            </li>
            <li>
                <span class="mx-2">></span>
            </li>
        }

    </ol>
</div>

@code {
    [Parameter]
    public String CurrentCompany { get; set; }
    
    [Parameter]
    public String CurrentPath { get; set; }

    private List<Breadcrumb> _urLs = default!;

    protected override void OnParametersSet()
    {
        var currentPath = CurrentPath.Split("/");
        var subPaths = currentPath.Skip(1);

        _urLs = new List<Breadcrumb> {new() {Name = NavService.TitleCase(CurrentCompany), Url = "/"}};

        var url = "/" + CurrentCompany;
        foreach (var path in subPaths)
        {
            if (path == "")
                continue;
            url += "/" + path;
            _urLs.Add(new Breadcrumb {Name = NavService.TitleCase(path), Url = url});
        }
    }

}