@foreach (var option in Options)
{
    if (option.Selected)
    {
        <a class="text-black-900 block px-3 py-2 rounded-md text-base font-medium" href="@option.HrefWithCompany">
            @option.Name
        </a>
    }
    else
    {
        <a class="text-gray-500 hover:text-gray-800 block px-3 py-2 rounded-md text-base font-medium" href="@option.HrefWithCompany">
            @option.Name
        </a>
    }
}

@code {

    private NavRoutes[] Options { get; set; } = MainLayout.NavCtrl.NavOptions;

    [Parameter]
    public string CurrentCompany { get; set; }

    protected override void OnParametersSet()
    {
        var location = MainLayout.NavCtrl.NavigationManager.Uri;

        foreach (var option in Options)
        {
            option.HrefWithCompany = option.Href != "/" ? $"/{CurrentCompany}{option.Href}" : "/";

            if (location.EndsWith(option.Href) || location.Split("/")[2] == option.Href.Split("/")[1])
                option.Selected = true;
            else
                option.Selected = false;
        }
    }

}