@inject WorkFlow.Client.Services.INavService NavService

@foreach (var option in Options)
{
    if (option.Selected)
    {
        <a class="text-black-900 block px-3 py-2 rounded-md text-base font-medium" href="@option.HrefWithCompany">
            @option.Name
        </a>
    }
    else
    {
        <a class="text-gray-500 hover:text-gray-800 block px-3 py-2 rounded-md text-base font-medium" href="@option.HrefWithCompany">
            @option.Name
        </a>
    }
}

@code {

    private NavRoutes[] Options { get; set; }

    protected override void OnInitialized()
    {
        Options = NavService.NavOptions;
    }

    [Parameter]
    public string CurrentCompany { get; set; }

    protected override void OnParametersSet()
    {
        if (NavService.NavigationManager == null)
            return;

        var location = NavService.NavigationManager.Uri;

        for (int i = 0; i < Options.Length; i++)
        {
            Options[i].HrefWithCompany = Options[i].Href != "/" ? $"/{CurrentCompany}{Options[i].Href}" : "/";

            if (location.EndsWith(Options[i].Href) || location.Split("/")[2] == Options[i].Href.Split("/")[1])
                Options[i].Selected = true;
            else
                Options[i].Selected = false;
        }

    }

}