@inherits LayoutComponentBase
@inject NavigationManager _navigationManager
@inject INavService _navService
@inject ICompany _companyService
@implements IDisposable

<Toast>
    @if (!_navService.Fetched)
    {
        <Loader/>
    }
    else
    {
        if (_navService.CurrentUser != null)
        {
            <header>
                <NavMenu/>
            </header>
            <div class="container mx-auto px-5">
                <Breadcrumbs/>
                @Body
            </div>
        }
        else
        {
            @Body
        }
    }
</Toast>

@code
{

    protected override void OnInitialized() {
        _navService.OnChange += StateHasChanged;
    }

    public void Dispose() {
        _navService.OnChange -= StateHasChanged;
    }

    protected override void OnAfterRender(Boolean firstRender) {
        base.OnAfterRender(firstRender);
        if (_navService.CurrentUrl() == "user/settings") return;
        if (_navService.Fetched && _navService.CompanyList.Count == 1 && _navService.CurrentUrl() != "create/company")
        {
            _navigationManager.NavigateTo("/create/company");
        }
    }
}