@inherits LayoutComponentBase
@inject NavigationManager _navigationManager
@inject INavService _navService
@inject ICompany _companyService
@implements IDisposable

@if (_navService.CompanyList.Count <= 1)
{
    <h1>Loading</h1>    
}
else
{
    <header>
        <NavMenu />
    </header>
    <div class="container mx-auto px-5">
        <Breadcrumbs />
        @Body
    </div>

}

@code
{

    protected override void OnInitialized()
    {
        _navService.NavigationManager = _navigationManager;
        _navService.OnChange += StateHasChanged;
    }

    public void Dispose()
    {
        _navService.OnChange -= StateHasChanged;
    }
}