@inherits LayoutComponentBase
@inject NavigationManager _navigationManager
@inject WorkFlow.Client.Services.INavService NavService

<header>
    <NavMenu CurrentCompany="@_currentCompany"/>
</header>
<div class="container mx-auto px-5">
    <Breadcrumbs CurrentCompany="@_currentCompany" CurrentPath="@_currentPath"/>
    @Body
</div>


@code
{
    private String _currentCompany = default!;
    private String _currentPath = default!;

    protected override void OnInitialized()
    {
        _currentPath = _navigationManager.ToBaseRelativePath(_navigationManager.Uri);
        NavService.NavigationManager = _navigationManager;
        NavService.RestoreLastCompany();
        _currentCompany = NavService.GetCurrentCompany();
    }
}