@inherits LayoutComponentBase
@inject NavigationManager _navigationManager
@inject INavService _navService
@inject ICompany _companyService
@implements IDisposable

@if (!_navService.Fetched)
{
    <Loader />
}
else
{
    <header>
        <NavMenu />
    </header>
    <div class="container mx-auto px-5">
        <Breadcrumbs />
        @Body
    </div>
}

@code
{

    protected override void OnInitialized()
    {
        _navService.NavigationManager = _navigationManager;
        _navService.OnChange += StateHasChanged;
    }

    public void Dispose()
    {
        _navService.OnChange -= StateHasChanged;
    }

    protected override void OnAfterRender(bool firstRender)
    {
        base.OnAfterRender(firstRender);
        if(_navService.CurrentURL() == "user/settings") return;
        if (_navService.Fetched && _navService.CompanyList.Count == 1 && _navService.CurrentURL() != "create/company")
        {
            _navigationManager.NavigateTo("/create/company");
        }
    }
}