@page "/{Company}/project/create"
@inject INavService _navService
@inject IProject _projectService

<div class="flex flex-grow flex-col bg-gray-100 p-5 md:w-4/5 xl:w-2/5 m-auto mb-5">
    <h1 class="text-2xl text-center">Create a new Project</h1>
    <EditForm Model="@_project" OnValidSubmit="@HandleValidSubmit">
        <div class="mb-2">
            <label for="name" class="text-grey-darker inline-block mb-2">Name</label>
            <input @bind="_project.Name" type="text" id="name" class="border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5" placeholder="My Project" required maxlength="25" minlength="3"/>
        </div>
        <div class="mb-2">
            <label for="status" class="text-grey-darker inline-block mb-2">Status</label>
            <InputSelect @bind-Value="_project.Status" id="status" class="border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 bg-white" name="status" required>
                <option value="ToDo">
                    To-Do
                </option>
                <option value="InProgress">
                    In-Progress
                </option>
                <option value="Completed">
                    Completed
                </option>
            </InputSelect>
        </div>
        <div class="mb-2">
            <label for="due-date" class="text-grey-darker inline-block mb-2">Due Date</label>
            <input @bind="_project.DueDate" type="date" id="due-date" name="due-date" class="border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full m-0 p-2.5" placeholder="31/10/2021 13:45" required/>
        </div>
        <label for="project-uri" class="text-grey-darker inline-block mb-2">Project URI</label>
        <div class="flex flex-wrap items-stretch w-full mb-4 relative">
            <div class="flex -mr-px">
                <span class="flex items-center leading-normal bg-grey-lighter rounded rounded-r-none border border-r-0 border-grey-light px-3 whitespace-no-wrap text-grey-dark text-sm">https://workflow.isala.me/@_navService.GetCurrentCompany().Uri</span>
            </div>
            <input @bind="_project.Uri" type="text" id="project-uri" name="project-uri" class="flex-shrink flex-grow flex-auto leading-normal w-px flex-1 border h-10 border-grey-light rounded rounded-l-none px-3 relative" pattern="[a-z0-9-]+" placeholder="my-project" required maxlength="20" minlength="5"/>
        </div>
        <button type="submit" class="block text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 w-full">Submit</button>
    </EditForm>
</div>

@code {

    [Parameter]
    public String Company { get; set; } = null!;

    [Parameter]
    public String Project { get; set; } = null!;

    [CascadingParameter]
    public Toast? Toast { get; set; }
    
    private readonly ProjectDto _project = new();

    private async void HandleValidSubmit()
    {
        _project.Company = _navService.GetCompanyByUri(Company);
        try
        {
            var project = await _projectService.Create(_project);
            Toast?.AddNotification("Success", $"New Project ({project.Name}) was created", "green");
        }
        catch (Exception e)
        {
            Toast?.Exception(e);
            return;
        }

        _navService.NavigateToProjects(true);
    }

}