<select value="@CurrentCompany" @onchange="SetCompany" class="block w-52 text-gray-700 py-2 px-3 border border-gray-300 bg-white rounded-md shadow-sm focus:outline-none focus:ring-primary-500 focus:border-primary-500 mx-auto" name="company">
    @foreach (var company in MainLayout.NavCtrl.CompanyLinks)
    {
        <option value=@company.Uri>@company.Name</option>
    }
</select>

@code {

    [Parameter]
    public string CurrentCompany { get; set; }

    private void SetCompany(ChangeEventArgs e)
    {
        if (e.Value != null) CurrentCompany = e.Value.ToString();

        MainLayout.NavCtrl.SetCurrentCompany(CurrentCompany);
    }

}